<%= simple_form_for @tag do |f| %>

    <div class = "form-group">
        <%= f.input :name %>
    </div>

    <div class= "form-group">
        <%= f.input :icon, as: :file  %>
    </div>

    <div class = "form-group">
      <%= f.input :css_class %>
    </div>

    <div>
        <%= f.submit "Post", class: 'btn btn-primary' %>
    </div>

<% end %>

