<div class="uk-section-xsmall uk-section-muted">
    <div class="uk-container uk-container-small">
        <div class="uk-card uk-card-default uk-card body">
        <div class="uk-card-badge">
            <%= link_to 'Lihat Semua', '#', class:'uk-link-heading' %>
        </div>
            <div class="container-fluid my-5 pb-5">
            <h5 class="uk-text-bold pt-4">Kategori</h5>
                <div class="col-md-12 border border-secondary">
                    <div class="row p-2">
                        <div class="col-lg-2 col-sm-2 border-right ">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right ">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right ">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right ">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                    </div>

                    <div class="row p-2 border-top">
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/android-studio.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/android-studio.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/android-studio.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/android-studio.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 border-right">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/android-studio.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 ">
                            <a class="uk-link-heading">
                            <%= image_tag "hot_threads/php.png", class:'uk-border-circle', style:'max-width:20px;' %>
                            test
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>