<%= simple_form_for @forum_thread do |f| %>

            <% if @forum_thread.errors[:title].any? %>
                <%= @forum_thread.errors[:title].first %>
            <% end %>

            <div class = "form-group">
                <%= f.input :title, input_html: { class: 'form-control'} %>
            </div>

            <% if @forum_thread.errors[:body].any? %>
                <%= @forum_thread.errors[:body].first %>
            <% end %>

            <div class= "form-group">
              <%= f.input :body, as: :summernote %>
            </div>

            <% if @forum_thread.errors[:tag_ids].any? %>
                <%= @forum_thread.errors[:tag_ids].first %>
            <% end %>

            <div class = "form-group">
              <%= f.input :tag_ids, as: :select, 
                                                collection: Tag.order(:name),
                                                label_method: :name,
                                                input_html: {multiple: true} %>
            </div>

            <div>
                <%= f.submit "Post", class: 'btn btn-primary' %>
            </div>

        <% end %>

