<%= simple_form_for @forum_thread do |f| %>


            <div class = "form-group">
                <%= f.input :title %>
            </div>


            <div class= "form-group">
              <%= f.input :body, as: :summernote %>
            </div>


            <div class = "form-group">
              <%= f.input :tag_ids, as: :select, 
                                                collection: Tag.order(:name),
                                                label_method: :name,
                                                input_html: {multiple: true} %>
            </div>

            <div>
                <%= f.submit "Post", class: 'btn btn-primary' %>
            </div>

        <% end %>

