<div class="container mt-3">
  <div class="row">
    <div class="col">
      <%= render 'forum_threads/Left' %>
    </div>
    <div class="col-md-6">
      <%= render 'forum_threads/Middle' %>
    </div>
    <div class="col">
      <%= render 'forum_threads/Right' %>
    </div>
  </div>
</div>
<%# <%= render 'forum_threads/card' , forum_thread: @forum_threads %>

<%# <%= render 'forum_threads/footer' %>
