<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover banner-img">
    <div class="uk-container">
      <h3 class="font-weight-bold">ARE YOU LOST?</h3>
      <div class="uk-grid-match uk-child-width-1-3@m">
        <div>
          <p>Stuck on Code, but doesn't know where to ask a solution?</p>
        </div>
        <div>
          <p>Let me Show you the answer!</p>
        </div>
        <div>
          <%= link_to 'Follow Me!', new_user_session_path, class:'btn btn-outline-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'forum_threads/category' %>

<%= render 'forum_threads/card' %>

<%= render 'forum_threads/card' %>

<%= render 'forum_threads/card' %>

<% @forum_threads.each do |ft| %>
<%= link_to ft.title, forum_thread_path(ft),class:'uk-link-text' %>
<%= ft.tag %>
<% end %>