  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <%= image_tag("KEDAICODINGLOGO-01.png", :alt => "KedaiCoding Logo", class:"rounded mx-auto d-block", style:"width:50px; height:50px") %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <i class="fa fa-home"></i>
          Forum
          <span class="sr-only">(current)</span>
          </a>
      </li>

      <%# <li class="nav-item">
        <a class="nav-link disabled" href="#">
          <i class="fa fa-envelope-o">
            <span class="badge badge-danger">11</span>
          </i>
          Disabled
        </a>
      </li> %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="search" aria-label="search" aria-describedby="button-search">
        <div class="input-group-append">
          <button class="btn btn-outline-success" type="button" id="button-search">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-user">
          </i>
          Sign In
        </a>
        <div class="dropdown-menu"> 
          <% if user_signed_in? %>
              <%= link_to "Edit Profile", '#' , class: 'dropdown-item' %>
              <%= link_to 'Logout' , '#' , class: 'dropdown-item' %>
          <% else %>   
              <%= link_to 'Daftar' , new_user_registration_path , class: 'dropdown-item' %>
              <%= link_to 'Login' , '#' , class: 'dropdown-item' %>
          <% end %>
          </div>
      </li>
  </div>
</nav>