<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<%= link_to image_tag("KEDAICODINGLOGO.png", :alt => "KedaiCoding Logo", class:"logo-w-100"), root_path,class: 'uk-navbar-item uk-logo', title: 'KedaiCoding', 'data-toggle' => 'tool.htmtip', 'data-placement' => 'bottom' %>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navToggler" aria-controls="navToggler" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navToggler">
			<ul class="navbar-nav ml-md-auto">
				<% if user_signed_in? %>
					<li class="nav-item dropdown">
						<%= link_to raw('<i class="fa fa-bell font-15"></i><span class="badge badge-danger ml-1">15</span>'), '#', class:'nav-link dropdown-toggle', :id => 'nav-dropdown', :role => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false, 'data-placement' => 'left', title: 'Notification'%>
						<div class="dropdown-menu">
							<%= render 'layouts/notification' %>
						</div>
					</li>
					<li class="nav-item dropdown">
						<%= link_to raw('<i class="fa fa-envelope font-15"></i><span class="badge badge-warning ml-1">4</span>'), '#', title: 'Message', 'data-placement' => 'bottom', class:'nav-link dropdown-toggle', :id => 'nav-dropdown', :role => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false %>
						<div class="dropdown-menu">
							<%= render 'layouts/message' %>
						</div>
					</li>
					<li class="nav-item dropdown">
						<%= link_to image_tag("ava.png", :alt => "KedaiCoding Logo", class:"logo-w-100 rounded rounded-circle"), '#', class:'nav-link dropdown-toggle', :id => 'nav-dropdown', :role => 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false %>
						<div class="dropdown-menu">
							<%= link_to 'Profile', user_path(current_user.id), class:'dropdown-item' %>
							<div class="dropdown-divider"></div>
							<%= link_to 'Logout', destroy_user_session_path, method: :delete, class:'dropdown-item' %>
						</div>
					</li>
				<% else %>
					<li class="nav-item">
						<%= link_to 'Sign In', new_user_session_path, class:'nav-link' %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>