<!DOCTYPE html>
<html>
  <head>
    <title>Kedai Coding</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <%= render 'layouts/newnavbar' %>
    <%= yield %>

  </body>
</html>

<script>
  $(document).on('ready page:load', function () {
    $('#forum_thread_tag_ids').chosen({
      allow_single_deselect: true,
      width: '100%'
    })
  });
</script>


